stages:
  - test
  - dist
  - publish

variables:
  PY_IGNORE_IMPORTMISMATCH: "1"

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
    - .pixi

pytest:
  stage: test
  image: ubuntu:22.04
  parallel:
    matrix:
      - DEPS_LABEL: "Latest"
        CREATE_ARGS: ""
      - DEPS_LABEL: "Minimum"
        CREATE_ARGS: "python=3.9"
  before_script:
    - apt-get update && apt-get install -y curl
    - curl -fsSL https://pixi.sh/install.sh | bash
    - export PATH="$HOME/.pixi/bin:$PATH"
    - pixi install $CREATE_ARGS
    - pixi run pip install --no-deps .
  script:
    - pixi run pytest -n0

dist:
  stage: dist
  image: python:3.12-slim
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
    - if: '$CI_COMMIT_BRANCH'
    - if: '$CI_COMMIT_TAG'
  script:
    - python -m pip install --upgrade pip
    - python -m pip install build twine
    - python -m build
    - python -m twine check dist/*
  artifacts:
    paths:
      - dist

publish:
  stage: publish
  image: python:3.12-slim
  needs: ["dist"]
  dependencies: ["dist"]
  rules:
    - if: '$CI_COMMIT_TAG'
    - when: never
  variables:
    TWINE_USERNAME: "__token__"
    TWINE_PASSWORD: "$PYPI_API_TOKEN"
  script:
    - python -m pip install --upgrade pip
    - python -m pip install twine
    - python -m twine upload dist/*
