name: CI

on: [pull_request, push]

concurrency:
  group: {% raw %}${{ github.workflow }}-${{ github.head_ref }}{% endraw %}
  cancel-in-progress: true

jobs:
  pytest:
    strategy:
      # TODO: use multiple environments
      # https://pixi.prefix.dev/dev/integration/ci/github_actions/#multiple-environments
      # Setup with pixi rather than GHA
      matrix:
        os: [ubuntu-latest, macos-latest]
      fail-fast: false
    name: {% raw %}${{ matrix.os }}{% endraw %}
    runs-on: {% raw %}${{ matrix.os }}{% endraw %}
    defaults:
      run:
        shell: bash -l {0}
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      # https://pixi.prefix.dev/dev/integration/ci/github_actions/
      - uses: prefix-dev/setup-pixi@v0.9.3
        with:
          pixi-version: v0.62.2
          cache: true
      - run: pixi run -e test test
